<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NGU Save Analyser</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Read save file
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="summary">
                <span class="oi oi-plus" aria-hidden="true"></span> Summary
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="challenges">
                <span class="oi oi-plus" aria-hidden="true"></span> Challenges
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="otherstuff">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Coming soon...
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
